:root {
    --c-background: #323a44;
    --c-background-light-accent: #4e5664;
    --c-background-dark-accent: rgb(48, 56, 65);
    --c-side-pane: #22262c;
    --c-text: rgb(233, 233, 233);
    --c-text-dim: rgb(213, 213, 213);
    --c-text-dimmer: #8f9295;
    --c-icon: #bbbec0;
    --c-icon-dim: #828388;
    --c-bottom-bar: rgb(50, 50, 60);
    --c-dark-accent: rgb(24, 28, 34);
}

html,
body {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    overflow-x: hidden;
}

body {
    background-color: var(--c-background);
    color: var(--c-text);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
strong,
i,
a,
div {
    /* GTK makes elements have a caret for no reason... */
    user-select: none !important;
    -webkit-user-select: none !important;
    caret-color: transparent !important;
}

i {
    cursor: pointer;
    color: var(--c-icon);
}

i:hover {
    opacity: .7;
}

.horizontal-flex {
    display: inline-flex;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}

.sidebar {
    min-width: fit-content;
    width: 11rem;
    background-color: var(--c-side-pane);
    height: 100%;
}

.sidebar .tabs {
    width: 100%;
    justify-content: space-evenly;
    font-size: 1.75em;
}

.sidebar .tabs .selected {
    background-color: var(--c-dark-accent);
}

.sidebar .tabs i {
    width: 100%;
    height: 100%;
    padding: 5px 0;
    text-align: center;
}

.sidebar .tabs i:hover {
    opacity: initial;
    background-color: var(--c-dark-accent);
}

.sidebar .content {
    padding-left: 15px;
}

.editor {
    flex-grow: 1;
}

.bottom-bar {
    background-color: var(--c-bottom-bar);
    width: 100vw;
    padding: 0 10px;

    align-items: center;
}

.bottom-bar i {
    color: var(--c-icon-dim);
    display: block;
    position: relative;
    font-size: 1.5em;
    margin: 0;
}

.bottom-bar p {
    margin: 5px;
    font-size: .8em;
    color: var(--c-text-dim);
}
