:root {
    --c-background: #303841;
    --c-background-light-accent: #4f565e;
    --c-background-dark-accent: rgb(48, 56, 65);
    --c-side-pane: rgb(34, 38, 42);
    --c-text: rgb(233, 233, 233);
    --c-text-dim: rgb(213, 213, 213);
    --c-text-dimmer: #8f9295;
    --c-icon: #bbbec0;
    --c-icon-dim: #828388;
    --c-bottom-bar: #2e3238;
    --c-lighter-accent: rgb(54, 58, 64);
    --c-light-accent: rgb(44, 48, 52);
    --c-dark-accent: rgb(24, 28, 32);
    --c-hover-accent-for-light: rgb(62, 70, 80);
    --c-hover-accent-for-dark: #292d33;
}

html,
body {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    overflow-x: hidden;
}

body {
    background-color: var(--c-background);
    color: var(--c-text);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
strong,
i,
a,
div {
    /* GTK makes elements have a caret for no reason... */
    user-select: none;
    -webkit-user-select: none;
    caret-color: transparent;
    cursor: default;
}

i {
    cursor: pointer;
    color: var(--c-icon);
}

i:hover {
    opacity: .7;
}

.horizontal-flex {
    display: inline-flex;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 200px;
    max-width: 95vw;
    background-color: var(--c-side-pane);
    height: 100%;
}

.sidebar .tabs {
    min-width: max-content;
    width: 100%;
    justify-content: space-evenly;
    font-size: 1.75em;
}

.sidebar .tabs .selected {
    background-color: var(--c-dark-accent);
}

.sidebar .tabs i {
    width: 100%;
    height: 100%;
    padding: 5px 0;
    text-align: center;
}

.sidebar .tabs i:hover {
    opacity: initial;
    background-color: var(--c-dark-accent);
}

.sidebar .content {
    padding: 0 10px;
    width: max-content;
}

.sidebar .content .header {
    font-size: small;
    font-weight: bold;
}

.editor {
    flex-grow: 1;
    z-index: 5;
}

.editor .file-tabs {
    background-color: var(--c-background-light-accent);
    width: 100%;
    padding: 7px 10px 0 10px;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}

.editor .file-tabs i {
    font-size: medium;
    line-height: normal;
    transform: translateY(calc(-7px / 2));
}

.editor .file-tabs .files {
    flex-grow: 1;
    display: inline-flex;
}

.editor .file-tabs .files .file-tab {
    display: inline-flex;
    padding: 5px 10px 0 10px;
    border-radius: 5px 5px 0 0;
    height: 1.5em;
    transition: background .05s ease-in;
}

.editor .file-tabs .files .file-tab:hover {
    background-color: var(--c-hover-accent-for-light);
    border-bottom: 1px solid var(--c-hover-accent-for-light);
}

.editor .file-tabs .files .file-tab.selected {
    background-color: var(--c-background);
    border-bottom: 1px solid var(--c-background);
}

.editor .file-tabs .files .file-tab span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.editor .file-tabs .files .file-tab span p {
    padding: 0;
    margin: 0;
    font-size: smaller;
    transform: translateY(calc(-7px / 2));
}

.editor .file-tabs .files .file-tab span i {
    font-size: .7em;
    padding: 0;
    margin: 0;
    line-height: 0;
    transform: translateY(-1px);
}

.editor .text {
    height: 90%;
    /* TEMPORARY */
    width: 100%;
    background-color: var(--c-background);
}

.bottom-bar {
    background-color: var(--c-bottom-bar);
    width: 100vw;
    padding: 0 10px;

    align-items: center;
}

.bottom-bar i {
    color: var(--c-icon-dim);
    display: block;
    position: relative;
    font-size: 1.5em;
    margin: 0;
}

.bottom-bar p {
    margin: 5px;
    font-size: .8em;
    color: var(--c-text-dim);
}

.button {
    padding: 5px;
    background-color: var(--c-lighter-accent);
    text-align: center;
    cursor: pointer;
    font-size: small;
    border-radius: 2px;
}

.button:hover {
    background-color: var(--c-light-accent);
}


.no-open-directory {
    max-width: 12rem;
}

.no-open-directory .no-open-directory-message {
    font-size: smaller;
    color: var(--c-text-dimmer);
}

.resize {
    background: var(--c-side-pane);
    height: 100%;
    width: 2px;
    cursor: col-resize;
    flex-shrink: 0;
    position: relative;
    z-index: 10;
}

.hidden {
    width: 0;
    visibility: hidden;
}

.exists-but-hidden {
    position: absolute;
    z-index: -9999;
    visibility: hidden;
}

.sidebar .content summary {
    /* border: solid 1px red; */
    margin: 0;
    padding: 0;
}

.sidebar .content summary, .sidebar .content details {
    color: var(--c-text-dim);
    font-size: .9rem;
    width: 100%;
}


details::marker {
    display: none;
}
details summary::-webkit-details-marker {
    display:none;
}
summary.folder {
    display: block;
}
summary i, summary i:hover {
    cursor: default;
    font-size: large;
    opacity: 1;
    color: var(--c-icon-dim);
}

summary span {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    -webkit-transition: all .05s ease-in;
    -o-transition: all .05s ease-in;
    transition: all .05s ease-in;
}
summary span p {
    padding: 0;
    margin: 0;
}
summary span:hover {
    opacity: .7;
}
