/* [contenteditable] {
    caret-color: goldenrod;
    user-select: auto;
    -webkit-user-select: auto;
    cursor: text;
    font-family: monospace;
    outline: none;
    overflow-x: scroll !important;
} */

.editor {
    flex-grow: 1;
    z-index: 5;
}

.editor .file-tabs {
    /* position: fixed; */
    background-color: var(--c-background-light-accent);
    width: 100%;
    padding: 7px 10px 0 10px;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}

.editor .file-tabs i {
    font-size: medium;
    line-height: normal;
    transform: translateY(calc(-7px / 2));
}

.editor .file-tabs .files {
    flex-grow: 1;
    display: inline-flex;
}

.editor .file-tabs .files .file-tab {
    display: inline-flex;
    padding: 5px 10px 0 10px;
    border-radius: 5px 5px 0 0;
    height: 1.5em;
    transition: background .05s ease-in;
}

.editor .file-tabs .files .file-tab:hover {
    background-color: var(--c-hover-accent-for-light);
    border-bottom: 1px solid var(--c-hover-accent-for-light);
}

.editor .file-tabs .files .file-tab.selected {
    background-color: var(--c-background);
    border-bottom: 1px solid var(--c-background);
}

.editor .file-tabs .files .file-tab span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.editor .file-tabs .files .file-tab span p {
    padding: 0;
    margin: 0;
    font-size: smaller;
    transform: translateY(calc(-7px / 2));
}

.editor .file-tabs .files .file-tab span i {
    font-size: .7em;
    padding: 0;
    margin: 0;
    line-height: 0;
    transform: translateY(-1px);
}

.editor .text {
    position: relative;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
    /* overflow: auto; */
    height: 110%;
    /* TEMPORARY */
    width: auto;
    background-color: var(--c-background);

    overflow-x: auto;
    overflow-y: auto;
}

.editor .text code,
.editor .text pre {
    padding-top: 0 !important;
    margin-top: 0 !important;
    caret-color: goldenrod !important;
    overflow-y: auto;
}

.editor .text pre {
    border: 1px dashed blue;
    width: calc(100vw - 200px);
    /* overflow: auto;
    word-wrap: normal;
    white-space: pre; */
}

.editor .text code {
    background-color: var(--c-background) !important;
    caret-color: goldenrod !important;
}

.editor .text textarea {
    border: 1px solid red;
    position: absolute;
    /* Same as the css for prism. */
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: transparent;
    outline: none;
    padding-left: 3.8em;
    font-size: 1em;
    line-height: 1.25;
    /* border: none; */

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;

    color: transparent;
    caret-color: goldenrod !important;
    overflow-y: hidden;
    resize: none;
}